<template>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" :class="appendIsActive('operations')" @click="changeIsActive('operations')" href="#">Lister les opérations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" :class="appendIsActive('solde')" @click="changeIsActive('solde')" href="#">Solde compte</a>
            </li>
        </ul>
        <div class="tab-content mt-5" id="myTabContent">
            <Solde
                v-if="isActive === 'solde'"
                :auto-complete="autocomplete"
                :disable-date-min="disableDateMin"
                :disable-date-max="disableDateMax"
            ></Solde>
            <Operations
                v-else
                :auto-complete="autocomplete"
                :disable-date-min="disableDateMin"
                :disable-date-max="disableDateMax"
            ></Operations>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import Operations from './Operations';
    import Solde from './Solde';
    import format from 'date-fns/format';

    export default {
        name: "Home",
        components: {Operations, Solde},
        data() {
            return {
                autocomplete: '',
                disableDateMin: '',
                disableDateMax: '',
                isActive: 'operations',
            }
        },
        methods: {
            changeIsActive(clicked) {
                // Change the active component
                this.isActive = clicked
            },
            appendIsActive(currentActive) {
                // Adds class for bootstrap tabs styling
                return this.isActive === currentActive ? 'active' : ''
            }
        },
        created() {
            // Both calls are helpers that autocomplete the dates and RIB available
            axios.get('api/autocomplete').then(response => {
                this.autocomplete = response.data
            });
            axios.get('api/disables-dates').then(response => {
                // Since the datepicker component uses a fixed format, date formatting cannot be performed on the server side
                this.disableDateMin = format(response.data.first, 'YYYY-MM-DD');
                this.disableDateMax = format(response.data.last, 'YYYY-MM-DD');
            });
        }
    }
</script>

<style scoped>

</style>
