<template>
    <div>
        <div class="alert alert-danger" v-if="alert === 'alert'">Merci de vérifier les informations entrées !</div>
        <div class="alert alert-danger" v-if="alert === 'server'">Erreur interne, merci de réessayer ultérieurement</div>
        <div class="form-group">
            <label for="RIB">RIB</label>
            <select :class="validation.rib === 'valid' ? 'is-valid': ''" @change="validate" class="form-control"
                    id="RIB" v-model="rib">
                <option :value="rib" v-for="rib in autoComplete">{{ rib }}</option>
            </select>
            <div class="text-success" v-if="validation.rib === 'valid'">
                RIB valide.
            </div>
            <div class="text-danger" v-if="validation.rib === 'invalid'">
                Merci d'entrer un RIB.
            </div>
        </div>
        <div class="form-group">
            <label>Dates</label>
            <div>
                <div class="datepicker-trigger">
                    <input
                        :value="formatDates(dateMin, dateMax)"
                        class="form-control"
                        :class="validation.rib === 'valid' ? 'is-valid': ''"
                        id="datepicker-trigger"
                        placeholder="Select dates"
                        required
                        type="text"
                        @change="validate"
                    >

                    <airbnb-style-datepicker
                        :date-one="disableDateMin"
                        :date-two="disableDateMax"
                        :endDate="disableDateMax"
                        :fullscreen-mobile="true"
                        :minDate="disableDateMin"
                        :mode="'range'"
                        :showMonthYearSelect="true"
                        :trigger-element-id="'datepicker-trigger'"
                        @date-one-selected="val => { dateMin = val }"
                        @date-two-selected="val => { dateMax = val }"
                    />
                </div>
            </div>
            <div class="text-success" v-if="validation.dates === 'valid'">
                Dates valide.
            </div>
            <div class="text-danger" v-if="validation.dates === 'invalid'">
                Merci de séléctionner des dates.
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button @click="fetchData" class="btn btn-primary">Chercher</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">RIB</th>
                <th scope="col">Libellé</th>
                <th scope="col">Recettes</th>
                <th scope="col">Dépenses</th>
                <th scope="col">Devise</th>
            </tr>
            </thead>
            <tbody v-if="allOperations.length > 0">
            <tr v-for="operation in allOperations">
                <td>{{operation.Date}}</td>
                <td>{{operation.RIB}}</td>
                <td>{{operation.Libelle}}</td>
                <td :class="operation.Recette > 0 ? 'text-success' : ''">{{operation.Recette}}</td>
                <td :class="operation.Dépense > 0 ? 'text-danger' : ''">{{operation.Dépense}}</td>
                <td>{{operation.Devise}}</td>
            </tr>
            </tbody>
            <tbody v-else>
            <tr>
                <td class="text-center font-weight-bold text-info h3" colspan="6">
                    Aucune donnée.
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    import axios from 'axios';
    import format from 'date-fns/format';

    export default {
        name: "Operations",
        props: ['autoComplete', 'disableDateMin', 'disableDateMax'],
        data() {
            return {
                rib: '',
                dateMin: '',
                dateMax: '',
                allOperations: [],
                dateFormat: 'D/MM/YYYY',
                validation: {
                    rib: '',
                    dates: '',
                },
                alert: ''
            }
        },
        methods: {
            validate() {
                // This functions mutates data to append class styling
                if (this.rib ) {
                    this.validation.rib = 'valid';
                } else {
                    this.validation.rib = 'invalid';
                }

                if (this.dateMin && this.dateMax){
                    this.validation.dates = 'valid';
                } else {
                    this.validation.dates = 'invalid';
                }
            },
            fetchData() {
                // We only make the server call if data is valid
                if (this.validation.rib === 'valid' && this.validation.dates === 'valid') {
                    this.alert= '';
                    axios.get('api/operations', {
                        params: {
                            rib: this.rib,
                            date_min: format(this.dateMin, 'DD/MM/YYYY'),
                            date_max: format(this.dateMax, 'DD/MM/YYYY'),
                        }
                    })
                        .then(response => {
                            if (response.status === 200) {
                                this.allOperations = response.data
                            }
                        })
                        .catch(error => {
                            this.alert= 'server';
                        })
                } else {
                    // Alert if data is not validated
                    this.alert= 'alert';
                }

            },
            formatDates(dateOne, dateTwo) {
                // Date formatting for the date picker component
                let formattedDates = '';
                if (dateOne) {
                    formattedDates = format(dateOne, this.dateFormat)
                }
                if (dateTwo) {
                    formattedDates += ' - ' + format(dateTwo, this.dateFormat)
                }
                return formattedDates
            }
        },
    }
</script>

<style scoped>

</style>
